@import 'utilities/variables';

.form__label--hidden {
  display: none;
}

 .form__input {
  width: 90%;
  padding: 10px;
  margin: 3%;
  border: none;
  border-bottom: 6px solid lighten($green, 20%);
  border-radius: 2px;
  font-weight: bold;
  @include mq('reg') {
    margin: 0;
  }
}

@include mq('reg') {
  .form .btn--default {
  margin: 0;
  margin-top: 10px;
}
.form {
  width: 300px;
  padding-left: 2.5%;
  padding-right: 2.5%;
 }
}
