.container {
  max-width: 85%;
  margin: auto;
  text-align: center;
  @include mq('lrg') {
    max-width: 70%;

  }
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin: 45px auto;
  @include mq('reg') {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}

.theme__colors.grid__col--7, .theme__colors.grid__col--8 {
  @media (min-width: $brkpt){
  flex: 2;
  }
}

.grid__col--12 {
  @include mq('reg') {
    @include flexBrkPtAddins;
    justify-content: space-around;
    width: 100%;
  }
}
