@import 'utilities/variables';

.nav__item {
  font-size: 1.5em;
  flex: 1;
  padding: 3%;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: $teal;

    border-radius: 10px;
    a {
      color: white;
    }
  }
}
