@import 'utilities/variables';
@import 'utilities/mixins';

* {
  font-family: $fontStack;
}

body {
  @include mq('reg') {
    -moz-transform: scale(1.2); /* for Firefox, default 1*/
    zoom:120%; /* For Chrome, IE, default 100%*/
  }
}
